NODE_ENV=development
PORT=8000

FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:8000

DATABASE_URI=mongodb://127.0.0.1:27017/mern-backend-starter

JWT_SECRET_KEY=dummy_jwt_secret_key_change_me
JWT_SHORT_EXPIRY=15m
JWT_LONG_EXPIRY=7d

COOKIE_NAME=access_token
COOKIE_HTTP_ONLY=true
COOKIE_SAME_SITE=lax
COOKIE_PATH=/
COOKIE_SHORT_EXPIRY=900000
COOKIE_LONG_EXPIRY=604800000

EMAIL_HOST=smtp.example.com
EMAIL_SERVICE=example
EMAIL_PORT=587
USER_EMAIL=dummy@example.com
USER_PASSWORD=dummy_email_password

CLOUDINARY_CLOUD_NAME=dummy_cloud_name
CLOUDINARY_API_KEY=dummy_api_key
CLOUDINARY_API_SECRET=dummy_api_secret
